USE [master]
GO
/****** Object:  Database [ProjectOranizationDB]    Script Date: 08.11.2024 21:29:25 ******/
CREATE DATABASE [ProjectOranizationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectOranizationDB', FILENAME = N'D:\Program File\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProjectOranizationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectOranizationDB_log', FILENAME = N'D:\Program File\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProjectOranizationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectOranizationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectOranizationDB]
GO
/****** Object:  User [Manager]    Script Date: 08.11.2024 21:29:25 ******/
CREATE USER [Manager] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[Manager]
GO
/****** Object:  User [DirectorAsisstent]    Script Date: 08.11.2024 21:29:25 ******/
CREATE USER [DirectorAsisstent] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[DirectorAsisstent]
GO
/****** Object:  DatabaseRole [workerManager]    Script Date: 08.11.2024 21:29:25 ******/
CREATE ROLE [workerManager]
GO
/****** Object:  DatabaseRole [Asisstent]    Script Date: 08.11.2024 21:29:25 ******/
CREATE ROLE [Asisstent]
GO
ALTER ROLE [workerManager] ADD MEMBER [Manager]
GO
ALTER ROLE [db_owner] ADD MEMBER [Manager]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Manager]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Manager]
GO
ALTER ROLE [Asisstent] ADD MEMBER [DirectorAsisstent]
GO
ALTER ROLE [db_datareader] ADD MEMBER [DirectorAsisstent]
GO
ALTER ROLE [db_datareader] ADD MEMBER [workerManager]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [workerManager]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Asisstent]
GO
/****** Object:  Schema [Asisstent]    Script Date: 08.11.2024 21:29:25 ******/
CREATE SCHEMA [Asisstent]
GO
/****** Object:  Schema [DirectorAsisstent]    Script Date: 08.11.2024 21:29:25 ******/
CREATE SCHEMA [DirectorAsisstent]
GO
/****** Object:  Schema [Manager]    Script Date: 08.11.2024 21:29:25 ******/
CREATE SCHEMA [Manager]
GO
/****** Object:  Schema [workerManager]    Script Date: 08.11.2024 21:29:25 ******/
CREATE SCHEMA [workerManager]
GO
/****** Object:  Table [dbo].[Deal]    Script Date: 08.11.2024 21:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deal](
	[DealID] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationDate] [date] NOT NULL,
	[OrganizationID] [int] NOT NULL,
	[Cost] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Deal] PRIMARY KEY CLUSTERED 
(
	[DealID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 08.11.2024 21:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](255) NOT NULL,
	[Floor] [int] NULL,
	[Phone] [varchar](16) NOT NULL,
	[DepartmentHeadID] [int] NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DesingWork]    Script Date: 08.11.2024 21:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesingWork](
	[DesignWorkID] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[dealID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[Image] [nvarchar](255) NULL,
 CONSTRAINT [PK_Desing] PRIMARY KEY CLUSTERED 
(
	[DesignWorkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 08.11.2024 21:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[GenderCode] [char](1) NOT NULL,
	[GenderName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobTitles]    Script Date: 08.11.2024 21:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTitles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JobTitle] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organization]    Script Date: 08.11.2024 21:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[OrganizationID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[ActivityType] [varchar](255) NOT NULL,
	[Country] [varchar](255) NOT NULL,
	[City] [varchar](60) NOT NULL,
	[Street] [varchar](60) NOT NULL,
	[House] [varchar](60) NOT NULL,
	[DirectorName] [varchar](30) NOT NULL,
	[DirectorSurname] [varchar](30) NOT NULL,
	[DirectorPatronymic] [varchar](30) NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_Organization] PRIMARY KEY CLUSTERED 
(
	[OrganizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrgType]    Script Date: 08.11.2024 21:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrgType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_OrgType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 08.11.2024 21:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[WorkerID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [varchar](255) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Patronymic] [varchar](255) NULL,
	[JobID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[GenderCode] [char](1) NOT NULL,
	[Adress] [varchar](255) NOT NULL,
	[City] [varchar](255) NOT NULL,
	[BirthDayDate] [date] NOT NULL,
	[Phone] [varchar](16) NOT NULL,
 CONSTRAINT [PK_Workers] PRIMARY KEY CLUSTERED 
(
	[WorkerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[FirstView]    Script Date: 08.11.2024 21:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FirstView]
AS
SELECT        Surname AS Фамилия, Name
FROM            dbo.Workers
WHERE        (GenderCode LIKE 'м')
GO
/****** Object:  View [dbo].[FourthView]    Script Date: 08.11.2024 21:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FourthView]
as
SELECT Cost as [Цена проектной работы], (Cost/7.7) as [Сумма полученная после оплаты налогов]
FROM Deal;
GO
/****** Object:  View [dbo].[SecondView]    Script Date: 08.11.2024 21:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SecondView]
AS
SELECT        Surname AS Фамилия, Name AS Имя
FROM            dbo.Workers
WHERE        (GenderCode LIKE 'м') OR
                         (DepartmentID = 2)
GO
/****** Object:  View [dbo].[ThirdView]    Script Date: 08.11.2024 21:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ThirdView]
as 
SELECT Surname as [Фамилия],  Name as [Имя]
FROM Workers
WHERE Surname like 'Е%';
GO
SET IDENTITY_INSERT [dbo].[Deal] ON 

INSERT [dbo].[Deal] ([DealID], [RegistrationDate], [OrganizationID], [Cost]) VALUES (25, CAST(N'2016-02-01' AS Date), 1, CAST(1500000.00 AS Decimal(18, 2)))
INSERT [dbo].[Deal] ([DealID], [RegistrationDate], [OrganizationID], [Cost]) VALUES (26, CAST(N'2018-11-26' AS Date), 2, CAST(2000000.00 AS Decimal(18, 2)))
INSERT [dbo].[Deal] ([DealID], [RegistrationDate], [OrganizationID], [Cost]) VALUES (27, CAST(N'2019-01-31' AS Date), 3, CAST(900000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Deal] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [Floor], [Phone], [DepartmentHeadID]) VALUES (1, N'Водоснабжения и канализации', 3, N'8 917 697-63-57', 21)
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [Floor], [Phone], [DepartmentHeadID]) VALUES (2, N'административно-хозяйственный отдел', 4, N'8 917 021-59-29', 22)
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [Floor], [Phone], [DepartmentHeadID]) VALUES (3, N'отдел информационного обеспечения', 5, N'8 927 591-65-75', 23)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[DesingWork] ON 

INSERT [dbo].[DesingWork] ([DesignWorkID], [StartDate], [EndDate], [dealID], [DepartmentID], [Image]) VALUES (9, CAST(N'2017-06-02' AS Date), CAST(N'2017-12-05' AS Date), 25, 3, N'Resources\1.png')
INSERT [dbo].[DesingWork] ([DesignWorkID], [StartDate], [EndDate], [dealID], [DepartmentID], [Image]) VALUES (10, CAST(N'2018-03-25' AS Date), CAST(N'2018-09-02' AS Date), 26, 2, NULL)
INSERT [dbo].[DesingWork] ([DesignWorkID], [StartDate], [EndDate], [dealID], [DepartmentID], [Image]) VALUES (11, CAST(N'2019-08-06' AS Date), CAST(N'2019-11-02' AS Date), 27, 1, N'Resources\2.png')
SET IDENTITY_INSERT [dbo].[DesingWork] OFF
GO
INSERT [dbo].[Gender] ([GenderCode], [GenderName]) VALUES (N'ж', N'Женский')
INSERT [dbo].[Gender] ([GenderCode], [GenderName]) VALUES (N'м', N'Мужской')
GO
SET IDENTITY_INSERT [dbo].[JobTitles] ON 

INSERT [dbo].[JobTitles] ([ID], [JobTitle]) VALUES (1, N'конструктор')
INSERT [dbo].[JobTitles] ([ID], [JobTitle]) VALUES (2, N'инженер')
INSERT [dbo].[JobTitles] ([ID], [JobTitle]) VALUES (3, N'техник')
SET IDENTITY_INSERT [dbo].[JobTitles] OFF
GO
SET IDENTITY_INSERT [dbo].[Organization] ON 

INSERT [dbo].[Organization] ([OrganizationID], [Title], [ActivityType], [Country], [City], [Street], [House], [DirectorName], [DirectorSurname], [DirectorPatronymic], [Type]) VALUES (1, N'"АгроРесурс"', N'Аграрная промышленность', N'РФ', N'Уфа', N'Достоевского ', N'103', N'Эльза', N'Тимашева', N'Ринадовна', 1)
INSERT [dbo].[Organization] ([OrganizationID], [Title], [ActivityType], [Country], [City], [Street], [House], [DirectorName], [DirectorSurname], [DirectorPatronymic], [Type]) VALUES (2, N'"ТерраТеч"', N'Аграрная промышленность', N'Республика Беларусь', N'Минск', N'Сидорова', N'52', N'Алмаз', N'Хаматдинов', N'Марсельевич', 1)
INSERT [dbo].[Organization] ([OrganizationID], [Title], [ActivityType], [Country], [City], [Street], [House], [DirectorName], [DirectorSurname], [DirectorPatronymic], [Type]) VALUES (3, N'"Плутон"', N'Водоснабжение', N'Казахстан', N'Алматы', N'Мингаженва', N'28', N'Каспаров', N'Владимир', N'Евгеньевич', 2)
SET IDENTITY_INSERT [dbo].[Organization] OFF
GO
SET IDENTITY_INSERT [dbo].[OrgType] ON 

INSERT [dbo].[OrgType] ([ID], [Type]) VALUES (1, N'ООО')
INSERT [dbo].[OrgType] ([ID], [Type]) VALUES (2, N'ОАО')
INSERT [dbo].[OrgType] ([ID], [Type]) VALUES (3, N'ПАО')
SET IDENTITY_INSERT [dbo].[OrgType] OFF
GO
SET IDENTITY_INSERT [dbo].[Workers] ON 

INSERT [dbo].[Workers] ([WorkerID], [Surname], [Name], [Patronymic], [JobID], [DepartmentID], [GenderCode], [Adress], [City], [BirthDayDate], [Phone]) VALUES (1, N'Александрова', N'Кристина', N'Михайловна', 1, 1, N'ж', N'Достоевского 103', N'Уфа', CAST(N'1979-07-13' AS Date), N'8 917 367-91-93')
INSERT [dbo].[Workers] ([WorkerID], [Surname], [Name], [Patronymic], [JobID], [DepartmentID], [GenderCode], [Adress], [City], [BirthDayDate], [Phone]) VALUES (2, N'Александрова', N'Яна', N'Максимовна', 2, 2, N'ж', N'Комсомольская 104', N'Уфа', CAST(N'1989-08-14' AS Date), N'8 987 030-34-27')
INSERT [dbo].[Workers] ([WorkerID], [Surname], [Name], [Patronymic], [JobID], [DepartmentID], [GenderCode], [Adress], [City], [BirthDayDate], [Phone]) VALUES (3, N'Григорьев', N'Павел', N'Даниилович', 1, 3, N'м', N'8-е марта 36', N'Уфа', CAST(N'1978-11-07' AS Date), N'8 927 256-77-01')
SET IDENTITY_INSERT [dbo].[Workers] OFF
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [FK_Deal_Organization] FOREIGN KEY([OrganizationID])
REFERENCES [dbo].[Organization] ([OrganizationID])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [FK_Deal_Organization]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Workers] FOREIGN KEY([DepartmentHeadID])
REFERENCES [dbo].[Workers] ([WorkerID])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Workers]
GO
ALTER TABLE [dbo].[DesingWork]  WITH CHECK ADD  CONSTRAINT [FK_DesingWork_Deal] FOREIGN KEY([dealID])
REFERENCES [dbo].[Deal] ([DealID])
GO
ALTER TABLE [dbo].[DesingWork] CHECK CONSTRAINT [FK_DesingWork_Deal]
GO
ALTER TABLE [dbo].[DesingWork]  WITH CHECK ADD  CONSTRAINT [FK_DesingWork_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[DesingWork] CHECK CONSTRAINT [FK_DesingWork_Department]
GO
ALTER TABLE [dbo].[Organization]  WITH CHECK ADD  CONSTRAINT [FK_Organization_OrgType] FOREIGN KEY([Type])
REFERENCES [dbo].[OrgType] ([ID])
GO
ALTER TABLE [dbo].[Organization] CHECK CONSTRAINT [FK_Organization_OrgType]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [FK_Workers_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [FK_Workers_Department]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [FK_Workers_Gender] FOREIGN KEY([GenderCode])
REFERENCES [dbo].[Gender] ([GenderCode])
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [FK_Workers_Gender]
GO
ALTER TABLE [dbo].[Workers]  WITH CHECK ADD  CONSTRAINT [FK_Workers_JobTitles] FOREIGN KEY([JobID])
REFERENCES [dbo].[JobTitles] ([ID])
GO
ALTER TABLE [dbo].[Workers] CHECK CONSTRAINT [FK_Workers_JobTitles]
GO
ALTER TABLE [dbo].[Gender]  WITH CHECK ADD CHECK  (([GenderCode]='ж' OR [GenderCode]='м'))
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[32] 4[12] 2[7] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Workers"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 214
               Right = 456
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'FirstView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'FirstView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[8] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Workers"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 265
               Right = 462
            End
            DisplayFlags = 280
            TopColumn = 5
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SecondView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SecondView'
GO
USE [master]
GO
